.thirdpage {
 height: 100vh;
}
.thirdpage >p{
 margin-left: 300px;
 font-size: 14px;
 color: gray;
 margin-top: -100px;
 cursor: pointer;
}
@media screen and (max-width: 768px) {
 .thirdpage {
  display: grid;
   grid-template-columns: 1fr;

   /* flex-direction: column; */
   align-items: center;
   height: auto;
 }
}
